$bg-body: red;

/* Color cube */
$White: #ffffff;
$Buttercup: #f2b71d;
$MineShaft: #252525;
$Silver: #bcbcbc;
$DoveGrey: #6b6b6b;
$Shakespeare: #52b9cb;
$Amethyst: #be43cb;
$ButteredRum: #a2790e;
$BahamaBlue: #03609f;
$Kournikova: #fee478;

/* Media cut */
$CapeCod: #373839;
$BlackHaze: #e4e7e7;
$FuelYellow: #ebb024;
$Russett: #7d5d57;
$FontainBlue: #4ebdc6;

/* Material design */
$Vibrant: #53b8c5;
$Muted: #4d5156;
$DarkVibrant: #0d2229;
$DarkMuted: #252627;
$LightVibrant: #e1c599;